node_modules
**/node_modules
.git
.github
.vscode
*.log
.npm
.cache
dist
**/dist
packages/editor-ui/node_modules
packages/editor-ui/dist
packages/cli/node_modules
packages/cli/dist
docker
.pnpm-store
.idea
.DS_Store
*.md
LICENSE
LICENSE_EE
README.mdncig
turbo.json
renovate.jsonnore-rev
SECURITY.md
tsconfig.json
vitest.workspace.ts
vex.openvex.json
scripts
!scripts/os-normalize.mjs
!packages/cli/bin
